<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi! l am Farisayi a Natural Scientist and data scientist/machine learning enthusiast, who loves everything data, problem solving and tech. </p>
      </div>
      <div class="col-lg-4">
        <p>This website is a portfolio (my technical graph journal if you will) of visualisations I have created, showcasing
          skills and technics I feel inclined to wax eloquent about, Welcome! l hope you enjoy your visit…. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <!--<a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">-->
          <!--<i class="fa fa-download"></i> Download Theme
        </a>-->
      </div>
    </div>
  </div>
</section>
