<!-- Header -->
<header>
  <div style="position: relative; width: 100%; height: 100vh; overflow: hidden;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; text-align: center;">
      <img class="img-responsive" src="img/profile.png" alt="profile-pg" style="max-width: 100px; border-radius: 50%;" />
      <video autoplay muted loop style="position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; 
      width: auto; height: auto; z-index: -1; transform: translate(-50%, -50%) scale(0.7); ">
        <source src="/img/portfolio/video/zafo_2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="intro-text" style="color: rgb(246, 240, 240); padding: 20px;">
        <span class="name">{{ site.title }}</span>
        <hr class="star-light" />
        <span class="skills">{{ site.skills }}</span>
      </div>
    </div>
  </div>
</header>
